.divCounter {
    background-color: black;
    text-align: center;
}

.divCounter div {
    display: inline;
    color: white;
    font-size: 100px;
    margin: 15px;
    padding: 12px;
    background-color: rgb(162, 36, 36);
    border-radius: 8px;
}

h1 {
    text-align: center;
}